apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app.kubernetes.io/created-by: application-service
    app.kubernetes.io/instance: origin-hello-openshift
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: origin-hello-openshift
    app.kubernetes.io/part-of: test-samples
  name: origin-hello-openshift
  namespace: mdsaud
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/instance: origin-hello-openshift
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app.kubernetes.io/instance: origin-hello-openshift
    spec:
      containers:
      - image: https://quay.io/openshift/origin-hello-openshift
        imagePullPolicy: Always
        livenessProbe:
          httpGet:
            path: /
            port: 8080
          initialDelaySeconds: 10
          periodSeconds: 10
        name: container-image
        ports:
        - containerPort: 8080
        readinessProbe:
          initialDelaySeconds: 10
          periodSeconds: 10
          tcpSocket:
            port: 8080
        resources:
          requests:
            cpu: 100m
            memory: 512Mi
status: {}
